Source: ros-kilted-leo-description
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-cmake-lint-cmake <!nocheck>, ros-kilted-ament-cmake-xmllint <!nocheck>, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ros-workspace
Homepage: http://wiki.ros.org/leo_description
Standards-Version: 3.9.2

Package: ros-kilted-leo-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-robot-state-publisher, ros-kilted-xacro, ros-kilted-ros-workspace
Description: URDF Description package for Leo Rover
